@using NedoCms.Common.Extensions
@model IEnumerable<NedoCms.Data.Models.SharedContent>

@{
	var items = Model.Safe().ToArray();
	var selected = (Guid?) ViewBag.SharedId;
}
<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			@using (Html.BeginForm("HtmlPopupSubmit", "Page", FormMethod.Post))
			{
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h3>Select shared control</h3>
				</div>
				<div class="modal-body">
					@if (!items.Any())
					{
						<div class="text-center"><h4>[No controls found]</h4></div>
					}
					else
					{
						<ul class="shared-controls-list">
							@foreach (var item in items)
							{
								var check = selected == item.Id ? "checked=\"checked\"" : "";
								<li>
									<label>
										<input type="radio" name="contentid" value="@item.Id" @check /> @item.Name
									</label>
								</li>
							}
						</ul>
					}
				</div>
				<div class="modal-footer">
					<a href="javascript:void(0)" class="btn btn-default btn-sm w80px" data-dismiss="modal" aria-hidden="true">Cancel</a>
					@if (items.Any())
					{
						<button class="btn btn-success btn-sm w80px" type="submit">Save</button>
					}
				</div>
			}
		</div>
	</div>
</div>
